.container {
  color: black;
  text-align: right;
  max-width: 1222px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-bottom: 4rem;
  direction: rtl;
  margin-left: auto;
}

.container p,
.container span {
  margin-bottom: 20px;
  text-align: justify;
  color: rgb(105, 102, 102);
}
.container p:nth-child(2) {
  margin-bottom: 0px;
}
